.elementor-element {
	.elementor-button.elementor-button {
		border-radius: 5px;
	}

	.elementor-button {
		display: inline-flex;
		align-items: center;
		text-align: center;
		justify-content: center;
	}
}
